
/*******************
 *     general     *
 *******************/

/* BorderPane: main layout root */
.root {
    -fx-background-color: linear-gradient(to bottom, #000000 0%, #00101A 15%, #01314D 30%, #024A73 60%, #026299 100%);
}

.update-text {
	-fx-fill: #FDCCAF; 
}

.label {
    -fx-text-fill: #FDCCAF;
}

.feedback {
    -fx-fill: #F28A8A;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #0D4E75 30%, #023350 100%);
    -fx-text-fill: #FDCCAF;
}

.button:hover, .button:focused {
    -fx-background-color: linear-gradient(to bottom, #6DA9CC 30%, #26709C 100%);
    -fx-text-fill: #925633;
}

.button:disabled {
    -fx-background-color: #26709C;
}

.text-field {
    -fx-background-color: #6DA9CC;
    -fx-highlight-text-fill: #F2B18A;
    -fx-hightlight-fill: #1E90FF;
    -fx-prompt-text-fill: #925633;
}

/*******************
 *       top       *
 *******************/

/* Text: date and time display */
.date-time {
    -fx-fill: #F2B18A;
}

/* Text: states the user currently logged in */
.welcome-text {
    -fx-fill: #F2B18A;
}

/*******************
 *       left      *
 *******************/

/* Text: heading on left eg login / signup header*/
.heading1 {
    -fx-fill: #6DA9CC;
}

.refresh-button {
    -fx-background-color: #6DA9CC;
}

/* StackPane: individual game icons */
.game-icon {
    -fx-border-color: #000000;
}

.game-icon:hover, .game-icon:focused {
    -fx-border-color: #6DA9CC;
}

.pagination > .page {
    -fx-background-color: linear-gradient(to bottom, #01273E 0%, #025280 50%, #025C8F 100%);
}

.left-arrow, .right-arrow {
    -fx-background-color: #106595;
}

.left-arrow:disabled, .right-arrow:disabled {
    -fx-background-color: #023F62;
}

/*******************
 *      right      *
 *******************/

/* Text: heading on right e.g. game title*/
.heading2 {
    -fx-fill: #6DA9CC;
}

/* VBox: content on right */
.content {
    -fx-border-color: linear-gradient(to bottom, #023350 10%, #6DA9CC 30%, #0D4E75);
}

/* Text: toggle signup/login page */
.link-text {
    -fx-fill: #FDCCAF;
}

.link-text:hover, .link-text:focused {
    -fx-fill: #925633;
}

.scroll-pane > .viewport {
    -fx-background-color: linear-gradient(to bottom, #013B5C 0%, #025A8C 50%, #025787 100%);
    -fx-text-fill: #FDCCAF;
}

.scroll-bar > .thumb {
    -fx-background-color: linear-gradient(to right, #6DA9CC 30%, #26709C 100%);
}

.scroll-bar > .thumb:hover, .scroll-bar > .thumb:selected {
    -fx-background-color: linear-gradient(to right, #74B4D9 30%, #2877A6 100%);
}

.decrement-button:hover, .increment-button:hover {
    -fx-background-color: #6DA9CC;
}

.game-info {
    -fx-fill: #FDCCAF;
}

/*******************
 *      bottom     *
 *******************/

.copyright {
    -fx-fill: #F2B18A;
}
